# tmkasun me API configs
upstream apim_server {
    # for UNIX domain socket setups
    server localhost:8243 fail_timeout=0;
}

server {

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/apis.knnect.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/apis.knnect.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
    
    proxy_hide_header 'access-control-allow-origin';
    proxy_hide_header 'access-control-allow-headers';
    proxy_hide_header 'access-control-allow-methods';
    proxy_hide_header 'access-control-allow-credentials';
    proxy_hide_header 'access-control-expose-headers';
    proxy_hide_header 'access-control-max-age';

    add_header 'Access-Control-Allow-Origin' '$http_origin' always;
    add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS' always;
    add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range' always;
    add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range' always;
    if ($request_method = OPTIONS) {
            return 204;
    }

    access_log /var/log/nginx/apis.proxy.log;
    location /api/ {
        
	    expires off;
        etag off;
        proxy_no_cache 1;
        proxy_cache_bypass 1;
        proxy_pass https://fuel.gov.lk;

    }

}

server {
    if ($host = apis.knnect.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


	listen 80 ;
	listen [::]:80 ;
    server_name apis.knnect.com;
    return 404; # managed by Certbot


}